pydantic>=2.5.0
loguru>=0.7.2
# coincurve <21.0.0 does not support Python 3.14
# coincurve 21.0.0 has a bug that prevents installation on 3.14
# See: https://github.com/ofek/coincurve/issues/219
# Install from git until a fixed version is released
coincurve @ git+https://github.com/ofek/coincurve.git@master
python-bitcointx>=1.1.5
httpx>=0.27.0
httpx-socks>=0.9.0
PySocks>=1.7.1
sniffio>=1.3.0
cryptography>=46.0.0
